<html>
    <head>
        <title>Cuisines</title>
    </head>
    <body>
        <h1>{{ cuisine.getName }}</h1>

        {% if restaurants is not empty %}
            <p>Here are all the restaurants:</p>
            <ul>
                {% for restaurant in restaurants %}
                    <li>{{ restaurant.getDescription }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a Restaurant</h4>

        <form action='/restaurants' method='post'>
           <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
           <label for='description'>Restaurant Description</label>
           <input id='description' name='description' type='text'>

           <button type='submit'>Add Restaurant</button>
       </form>

       <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine</a></p>

       <p><a href='/'>Home</a></p>
    </body>
</html>
